body {
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  background: linear-gradient(var(--color-bg), var(--color-light));
}

.nav {
  position: fixed;
  width: 100vw;
}

.chair-pattern {
  background-image: url('assets/chair-pattern3.PNG');
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: calc(50% - 50vw);
  bottom: calc(50% - 50vh);
  z-index: -1;
  opacity: 0.7;
  filter: invert(1);
}

/* ===== MEDIA QUERIES (PHONES) ===== */
@media screen and (max-width: 850px) {
  .chair-pattern {
    background-image: url('assets/chairpattern.png');
  }
}

