body {
  width: 100vw;
  height: 100vh;
}

.nav {
  position: fixed;
  width: 100vw;
}

.chair-pattern {
  background-image: url('assets/chairpattern2.PNG');
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: calc(50% - 50vw);
  bottom: calc(50% - 50vh);
  z-index: -1;
  opacity: 0.6;
  filter: invert(1);
}


/* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {

}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-width: 600px) {

}

