body {
  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;
  width: 100vw;
  font-family: 'Inter', sans-serif;
}


/* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {

}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-width: 600px) {

}

