/* .week__component {
  max-height: ;
} */

.week__container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  margin: 2rem auto 2rem auto;
  /* position: absolute; */
  /* center calendar */

   /*
  color: var(--color-primary); */
}

.account-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: var(--color-light);
  transition: var(--transition);
  cursor: pointer;
}

.account-icon:hover {
  color: var(--color-primary);
}

.clear-btn {
  align-self: flex-end;
  /* padding-right: 2rem; */
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  color: var(--color-light);
  cursor: pointer;
}

.clear-btn:hover {
  color: rgb(165, 210, 242);
}

.week-title {
  margin-top: -7rem;
  margin-left: 4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  z-index: -1;
  color: rgb(213, 238, 251);
  font-size: 12rem;
  position: absolute;
}

.weekdays__container, .weekend__container {
  display: flex;
  gap: 5px;
}

section {
  display: flex;
  flex-direction: column; /* must be column for + btn to be visible */
  background-color: rgb(241, 250, 255); /*whitesmoke;*/
  border: var(--color-light) 1px solid;
  border-radius: 10px;
   /* 100/7 = 14.2 */
  overflow: scroll;
}

.notes {
  background-color: rgb(217, 242, 255);/*rgb(241, 250, 255, 0.5);*/
  width: 30rem;
}

.notes-title {
  position: absolute;
  z-index: 1;
  padding: 0 5px 0 5px;
  font-size: 14px;
  color: rgb(165, 210, 242); /*var(--color-light);*/
  background-color: rgb(217, 242, 255);
  width: 29.9rem; /* hide scrolling notes */
  border-radius: 12px 12px 0 0;
}

.notes-input {
  border: none;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  resize: none;
  padding-top: 25px;
  padding-left: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  color: var(--color-primary);
  font-size: 16px;
}

.home__container .error__container {
  width: 100%;
  text-align: center;
}

.home__container .error__msg {
  font-family: 'Inter', sans-serif;
  color: var(--color-primary);
  font-size: 25px;
}

/* ===== MEDIA QUERIES (SHORT SCREENS) ===== */
@media screen and (max-height: 800px) {
  .week__container {
    margin-top: 1rem;
  }
}

@media screen and (max-height: 720px) {
  .week__container {
    margin-top: 0;
  }
}

/* ===== MEDIA QUERIES (PHONES) ===== */
@media screen and (max-width: 850px) {
  .weekdays__container, .weekend__container {
    flex-direction: column;
    align-items: center;
  }

  .notes {
    width: 90vw;
    min-height: 10rem;
    max-height: fit-content;
  }

  .notes-title {
    width: 89.4vw; /* hide scrolling notes */
  }

  .week-title {
    margin-top: -3rem;
    margin-left: 5rem;
    font-size: 5rem;
  }
}


@media screen and (max-width: 600px) {
  .week-title {
    margin-top: -1rem;
    margin-left: 2rem;
    font-size: 3rem;
  }
}