@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Padauk:wght@400;700&family=Roboto&display=swap');
.account__container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  font-family: 'Inter', sans-serif;
  color: var(--color-primary);
}


.account__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 100%;
  gap: 1rem;
}

.account__container form > p, .success__msg, .error__msg {
  font-size: 20px;
}

.account__container input {
  width: 300px;
  height: 30px;
  color: var(--color-primary);
  border-radius: 50px;
}

.account__container button {
  width: fit-content;
  padding: 0 10px 0 10px;
  background: aliceblue;
}

.account__container button:hover {
  background-color: var(--color-light);
}

.success__msg, .error__msg {
  /* color: rgb(82, 173, 253); */
}

/* ===== MEDIA QUERIES (PHONES) ===== */
@media screen and (max-width: 850px) {
  .account__container form {
    justify-content: end;
  }
}