.about__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: var(--color-primary);
  height: fit-content;
}

.direction__container {
  margin-top: 5rem;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.icon__container, .github-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.github-link {
  margin-top: 1rem;
  font-size: 1rem;
  padding-left: 5px;
  color: var(--color-primary);
  transition: var(--transition);
  gap: 5px;
  width: fit-content;
}

.github-link:hover {
  color: rgb(108, 201, 238);
}

.demo {
  border-radius: 20px;
  width: 30%;
  height: 30%;
  margin-top: 40px;
}

/* ===== MEDIA QUERIES (SHORT SCREENS) ===== */
@media screen and (max-height: 850px) {
  .demo {
    height: 23%;
    height: 23%;
  }

  .direction__container {
    margin-top: 2.5rem;
  }
}

@media screen and (max-height: 720px) {
  .demo {
    height: 22.5%;
    width: 22.5%;
  }
}


/* ===== MEDIA QUERIES (PHONES) ===== */
@media screen and (max-width: 850px) {
  .about__container {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .direction__container {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .demo {
    height: 22.5%;
    width: 80vw;
    margin: 0.5rem 0;
  }
}