.login__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

.logo__container {
  /* display: none; */
  position: fixed;
  bottom: 0;
  z-index: -1;
  margin-bottom: 90px; /* offset the -13rem h1 */
}

h1 {
  font-size: 15rem;
  font-weight: 600;
  opacity: 1.5%;
  margin-top: -7rem;
  margin-bottom: -13rem;
}

.login__container {
  background: rgba(231, 250, 255, 0.5);/* rgb(210, 237, 247, 0.8);/* var(--color-light);/*rgba(176,224,230, 1) rgb(214, 238, 254, 0.8);*/
  border: 0px solid var(--color-light);
  color: var(--color-primary);
  width: 60rem;
  height: 30rem;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  /* padding-top: 1rem; */
  margin: 8% 0 1rem 0;
  align-items: center;
  border-radius: 50px;
  gap: 2rem;
  backdrop-filter: blur(10px);
}

.login__container form {
  text-align: center;
}

.login__container p {
  display: inline;
}

.login__container form > div {
  width: 20rem;
  height: 50px;
  display: flex; /* center the input and button */
  justify-content: center;
}

input, .login__container input::placeholder, button {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

input, button {
  border: 1px solid var(--color-light);
}

input {
  border-radius: 50px;
  width: 80%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: var(--color-primary);
}

input::-ms-clear, input::-ms-reveal {
  display: none; /* password visible eye */
}

.username-input {
  margin-right: 40px; /* align w/ password input */
}

button {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: var(--color-white);
  cursor: pointer;
  transition: var(--transition);
}

.btn__arrow {
  margin-top: calc(50% - 12.5px); /* center arrow in button */
  font-size: 25px;
  color: var(--color-primary);
  transition: var(--transition);
}

.btn__arrow:hover {
  color: var(--color-light);
}

.title {
  font-weight: 200;
  font-size: 5rem;
  padding-top: 3.5rem;
}

.calendar__icon {
  display: none;
  position: fixed;
  left: calc(50% - 5rem);
  bottom: calc(50% - 20rem);
  font-size: 40rem;
  z-index: -1;
  /* opacity: 0.8; */
  color: rgb(198, 230, 244);/*rgb(172, 222, 244); /* rgb(191, 235, 246);*/
  transform: rotate(10deg);
  overflow: -moz-hidden-unscrollable;
}

.login__container .error__msg {
  position: fixed; /*so doesn't affect other elems around it*/
  top: calc(50% - 40px);
  font-size: 16px;
}

.hidden {
  display: none;
}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-height: 850px) {
  .login__container {
    margin-top: 5%;
    height: 28rem;
  }
}

@media screen and (max-height: 650px) {
  .login__container {
    margin-top: 2.5%;
    height: 28rem;
  }
}

/* ===== MEDIA QUERIES (PHONES) ===== */
@media screen and (max-width: 850px) {
  .title {
    font-size: 3rem;
    padding-top: 0;
  }

  .login__container {
    width: 90%;
    max-height: 90vh;
    min-height: fit-content;
    padding: 2rem 0;
  }
}
