.login__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

.logo__container {
  /* display: none; */
  position: fixed;
  bottom: 0;
  z-index: -1;
  margin-bottom: 90px; /* offset the -13rem h1 */
}

h1 {
  font-size: 15rem;
  font-weight: 600;
  opacity: 1.5%;
  margin-top: -7rem;
  margin-bottom: -13rem;
}

.login__container {
  background: rgba(231, 250, 255, 0.5);/* rgb(210, 237, 247, 0.8);/* var(--color-light);/*rgba(176,224,230, 1) rgb(214, 238, 254, 0.8);*/
  border: 0px solid var(--color-light);
  color: var(--color-primary);
  width: 60rem;
  max-width: 80vw;
  height: fit-content;
  padding: 3rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  margin: 8% 0 1rem 0;
  align-items: center;
  border-radius: 50px;
  gap: 2rem;
  backdrop-filter: blur(10px);
}

.login__container form {
  text-align: center;
}

.login__container p {
  display: inline;
}

/* .login__container form > div {
  width: 20rem;
  height: 50px;
  display: flex; /* center the input and button */
  /*justify-content: center;
} */

.input__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.password__box {
  display: flex;
  justify-content: center;
}

input, .login__container input::placeholder, button {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

input {
  border: 1px solid var(--color-light);
}

input {
  border-radius: 50px;
  width: 18rem;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: var(--color-primary);
  transition: var(--transition);
  background: white;
}

input[type=text], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear, input::-ms-reveal {
  display: none; /* password visible eye */
}

/* .username-input {
  margin-right: 0px; /* align w/ password input */

button {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: transparent;/* var(--color-white);*/
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid rgb(82, 160, 198);
}

.btn__arrow {
  margin-top: calc(50% - 12.5px); /* center arrow in button */
  font-size: 25px;
  color: rgb(82, 160, 198);
  transition: var(--transition);
}

.btn__arrow:hover {
  color: var(--color-light);
}

.title {
  font-weight: 200;
  font-size: 5rem;
}

.calendar__icon {
  display: none;
  position: fixed;
  left: calc(50% - 5rem);
  bottom: calc(50% - 20rem);
  font-size: 40rem;
  z-index: -1;
  /* opacity: 0.8; */
  color: rgb(198, 230, 244);/*rgb(172, 222, 244); /* rgb(191, 235, 246);*/
  transform: rotate(10deg);
  overflow: -moz-hidden-unscrollable;
}

.login__container .error__msg {
  position: absolute; /*so doesn't affect other elems around it*/
  top: calc(50% - 30px);
  font-size: 16px;
  font-weight: 300;
}

.hidden {
  display: none;
}

/* ===== MEDIA QUERIES (SMALL DEVICES) ===== */
@media screen and (max-height: 850px) {
  .login__container {
    margin-top: 5%;
    height: fit-content;
  }
}

@media screen and (max-height: 650px) {
  .login__container {
    margin-top: 2.5%;
  }
}

/* ===== MEDIA QUERIES (PHONES) ===== */
@media screen and (max-width: 850px) {
  .title {
    font-size: 3rem;
  }

  .login__container {
    width: 90%;
    min-width: fit-content;
    margin-top: 2rem;
    padding: 2rem 0 3rem 0;
  }

  .input__container {
    align-items: center;
  }

  .password__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  input {
    width: 15rem;
    margin: 0;
  }

  .password__box button {
    width: 5rem;
    background-color: transparent;
    border-color: rgb(82, 160, 198);
  }

  .btn__arrow {
    /* margin-top: calc(50% - 12.5px); center arrow in button */
    margin-top: 1px;
    font-size: 25px;
    transition: var(--transition);
  }

  .login__container .error__msg {
    top: calc(50% - 65px);
  }
}


  /* .password__box {
    display: flex;
    flex-wrap: wrap;
  }

  .username-input {
    margin-right: 0; /* align w/ password input */


 /* input {
    margin-right: 0px;
  }

  .btn__arrow, button {
    width: 50vw;
    margin: 0;
    margin-top: 0.5rem;
  } */
