section {
  display: flex;
  flex-direction: column; /* must be column for + btn to be visible */
  background-color: rgb(241, 250, 255); /*whitesmoke;*/
  border: var(--color-light) 1px solid;
  border-radius: 10px;
   /* 100/7 = 14.2 */
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  color: var(--color-primary);
  overflow: auto;
}

.mon, .tue, .wed, .thu, .fri {
  height: 25rem;
  width: 15rem;
}

.sat, .sun {
  height: 15rem;
  width: 15rem;
}

.day-title {
  position: absolute;
  z-index: 1;
  padding: 0 5px 0 5px;
  border-radius: 12px 12px 0 0;
  font-size: 14px;
  text-transform: capitalize;
  color: rgb(220, 220, 223);
  background-color: rgb(241, 250, 255);
  width: 14.5rem;
  overflow-x: hidden;
}

.spacing {
  height: fit-content;
  width: 10px;
}

#fixed__btn {
  position: absolute;
  z-index: 2;
  align-self: flex-end; /* fixed at right corner of week day */
  cursor: pointer;
  font-size: 20px;
  color: var(--color-light);
  border: none;
  height: fit-content;
  width: fit-content;
  border-radius: 0;
  /* background-color: rgb(241, 250, 255);
  border-radius: 25px; */
}

.tasks__container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: fit-content;
}
  /* max-height: 100%; */

  .input__task {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-left: 5px;
    max-height: fit-content;
    /* max-width: 100%; */
    cursor: pointer;
  }

.task-input {
  height: 25px;
   /* 5px bottom so its same as exisiting task spacing */
  padding: 0px; /* 3px */
  border-radius: 0; /* 5px */
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  width: 80%;
  color: var(--color-primary);
  border: none;
  background-color: transparent;
}

.task p, .task-input {
  font-size: 15px;
}

.hidden {
  display: none;
}

/* ===== MEDIA QUERIES (SHORT SCREENS) ===== */
@media screen and (max-height: 800px) {
  .mon, .tue, .wed, .thu, .fri {
    height: 50vh;
  }

  .sat, .sun {
    height: 25vh;
  }
}

@media screen and (max-height: 720px) {
  .mon, .tue, .wed, .thu, .fri {
    height: 47vh;
  }

  .sat, .sun {
    height: 28vh;
  }
}

/* ===== MEDIA QUERIES (PHONES) ===== */
@media screen and (max-width: 1300px) {
  .mon, .tue, .wed, .thu, .fri {
    width: 12rem;
  }

  .sat, .sun {
    width: 12rem;
  }

  .day-title {
    width: 11.9rem;
  }
}

@media screen and (max-width: 1030px) {
  .mon, .tue, .wed, .thu, .fri {
    width: 10rem;
  }

  .sat, .sun {
    width: 10rem;
  }

  .day-title {
    width: 9.9rem;
  }
}


@media screen and (max-width: 850px) {
  .mon, .tue, .wed, .thu, .fri {
    height: 14rem;
    width: 90vw;
  }

  .sat, .sun {
    height: 14rem;
    width: 90vw;
  }

  .day-title {
    width: 89.4vw;
  }

  .task p, .task-input {
    font-size: 16px;
  }

  .task-input {
    font-size: 16px;
  }
}

/* @media screen and (max-width: 600px) {
} */