.task {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-left: 5px;
  max-height: fit-content;
  width: fit-content;
  max-width: 95%;
  cursor: pointer;
}

.task p  {
  max-width: 80%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.check__box {
  min-width: 20px; /* fixes check box squish */
  max-width: 20px; /* this may not be necessary */
  min-height: 10px;
  border-radius: 50px;
  border: 1px solid var(--color-light);
  display: block;
  cursor: pointer;
  margin-top: 8.3px;
}

.completed .check__box {
  background-color: var(--color-light);
}

.completed p {
  text-decoration-line: line-through;
  text-decoration-thickness: 5%;
  color: var(--color-light);
}

.hidden {
  display: none;
}


@media screen and (max-width: 850px) {
  .check__box {
    margin-top: 9px;
  }
}